body{
    background-color: lightblue;
}
#register_nav {
    background-color: purple;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 10px;
  }

.register_box{
    background-color: black;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}

.register_box input{
    border: none;
    border-radius: 10px;
    padding: 10px;
}
#register_btn{
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.alert_container{
    height: 70px;
    width: 350px;
    position: absolute;
    left: 0px;
    top:100px;
}
#alert {
    background-color: lightgreen;
    font-weight: bold;
    /* width: 100px; */
    z-index: 1000;
}


#closeAlert{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(10, 167, 10);
    color: white;
}

@media(max-width: 463px){
    .register_box{
        width: 350px;
    }
}
@media(max-width: 407px){
    .register_box{
        width: 300px;
    }
}