.card_wrapper{
  display: flex;
  flex-direction: column;
  background-color: rgb(78, 194, 232);
  border-radius: 40px;
  padding: 10px;
  font-size: 18px;
  height: 80px;
  margin: 10px;
}

.name_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  margin-top: -25px;
    /* background-color: rgb(78, 194, 232); */
    font-size: 18px;
    /* padding: 10px; */
    /* height: 60px; */
    line-height: 60px;
    width: 600px;
    display: flex;
    flex-direction: row;
    /* border-radius: 40px; */
    /* margin: 10px; */
    justify-content: center;
    align-items: center;
  }
  
  .card_info {
    flex: 1;
    padding: 10px;
  }
  
  #edit_btn,
  #delete_btn {
    border: none;
    padding: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 10px;
    cursor: pointer;
    color: white;
  }
  
  #edit_btn {
    background-color: purple;
  }
  
  #delete_btn {
    background-color: red;
  }


  .error_msg_box{
    position: absolute;
    top: 50%;
    left: 50%;
    border:2px solid red;
    background-color: rgb(221, 128, 128);
    font-weight: bold;
    font-size: 23px;
    padding: 20px;
    color: red;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #close_error{
    border:none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  @media(max-width: 646px){
    .card{
        width: 500px;
    }
  }
  @media(max-width: 544px){
    .card{
        width: 450px;
        font-size: 15px;
    }
  }
  @media(max-width: 489px){
    .card{
        width: 400px;
        font-size: 14px;
    }
  }
  @media(max-width: 435px){
    .card{
        width: 350px;
        font-size: 14px;
    }
    /* .edit_del{
      height: 12px;
      width: 12px;
    } */
    #edit_btn,#delete_btn{
      height: 35px;
      width: 35px;
    }
    .card_info{
        /* flex: none; */
    }
  }

  @media(max-width: 391px){
    .card{
        width: 330px;
    }
  }

  

  /* @media (max-width: 375px) {
    .card {
      width: 90%;
      margin: 5px auto;
      border-radius: 30px;
      font-size: 14px;
      height: auto;
      line-height: 1.5;
      padding: 5px;
    }
  
    .card_info {
      padding: 5px;
    }
  
    #edit_btn,
    #delete_btn {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      font-size: 12px;
      padding: 5px;
    }
  }
   */