body{
    background-color: lightblue;
}
.login_box{
    background-color: black;
    height: 360px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}

#alert{
    background-color: lightgreen;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}
#closeAlert{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(10, 167, 10);
    color: white;
}

.login_box input{
    border: none;
    border-radius: 10px;
    padding: 10px;
}
#register_btn{
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

@media(max-width:468px){
    .login_box{
        width: 300px;
    }
}